<div class="card-top container-fluid">
    <div class="container-fluid">
        <div class="accessories">
            <div class="as-item">
                <a>
                <img style="width: 62px;" src="../../../assets/allproducts.jfif" alt="">
                <h6>All Products</h6>
            </a>
            </div>
            <div class="as-item">
                <a>
                    <img style="width: 70px;" src="../../../assets/fashion.jfif" alt="">
                    <h6>Fashion</h6> 
                </a>
                </div>
                <div class="as-item">
                <a>
                    <img style="width: 62px;" src="../../../assets/jewellery.jfif">
                    <h6>Jewllery</h6>
                </a>
                </div>


                <div>
                    <a>
                        <img style="width: 62px;" src="../../../assets/electronic.jfif">
                        <h6>Electronics</h6>
                    </a>
                    </div>
                    
    

        </div>
        
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let item of productList">
                    <div class="card col-md-3">
                        <img src="{{item.image}}" alt="" >
                        <h5 style="white-space: norwap;overflow:hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                        <p style="white-space: norwap;overflow:hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.discription}}</p>
                        <p><strong>price</strong>${{item.price}}</p>
                        <button class="btn btn-primary"(click)=addtocart(item)>Add to cart</button>
    
                    </div>

                </ng-container>
               

        </div>
    </div>
        
        
        


    </div>
</div>

